html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fbfbfb; 
	font-family: 'Libre Franklin', 'Helvetica Neue', sans-serif;
	font-size: 18pt;
	text-align: center;
}

.content {
	margin: 0 auto;
}

a {
	color: #4990E2;
}
a:hover {
	color: #53A3FF;
}
a:visited {
	color: #9A68A0;
}
a:visited:hover {
	color: #D18DD9;
}
ul {
	padding: 0 0 0 24px;
}
ul li {
	line-height: 1.5rem;
	list-style-type: disc;
	margin-bottom: 0.4rem;
}
ul ul li {
	list-style-type: circle;
	margin-bottom: 0.2rem;
}
img {
	max-width: 100%;
}

/*************
 * Header
 *************/
.header-bg {
	background: url('images/la-jolla-web.jpg') no-repeat center bottom;
	background-size: cover;
}
.header {
	padding-top: 80px;
	padding-bottom: 80px;
	background: rgba(0, 0, 0, 0.3);
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 85%, rgba(0, 0, 0, 0.2) 100%);
	color: #fff;
}

.header img {
	margin: 20px;
}

.header h1 {
	-webkit-margin-before: 0.3em;
	-webkit-margin-after: 0.3em;
	font-size: 1.3em;
	font-weight: 200;
}

.header p {
	-webkit-margin-before: 0.75em;
	-webkit-margin-after: 0.7em;
	font-size: 0.75em;
	font-weight: 100;
}

.header p.appstore {
	font-size: 0.65em;
	margin: 10px;
}

.header a {
	color: white;
}

/*************
 * Intro
 *************/
.intro {
	color: #444;
}

.intro > * {
	padding: 0 2rem;
}

.intro p {
	margin: 0 auto 2rem;
	max-width: 600px;
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-weight: 300;
	text-align: left;
}


.intro h2, .intro h3 {
	font-size: 2rem;
	margin: 2.4rem auto 0.6rem;
}
.intro h3 {
	text-align: left;
	max-width: 600px;
}


.intro .img_container {
	margin: 0;
}

.intro div.img_container img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*************
 * Features
 *************/
.features, .screenshots {
	background-color: #252525;
	color: #CECECE;
	font-size: 0.75em;
	padding: 10px 0;
}

.features .inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 660px;
	margin: 0 auto;
}

.feature {
	margin: 20px;
	width: 100%;
	max-width: 240px;
	font-weight: 300;
}
.feature p {
	margin: 0;
}

/*************
 * Changelog
 *************/
.changelog li {
	text-align: left;
	font-size: 1.1rem;
	line-height: 1.8rem;
}
.changelog > p {
	padding: 0 2rem;
	font-size: 1.3rem;
	line-height: 1.8rem;
}
.changelog h3 {
	margin-bottom: 1em;
}

/*************
 * Closer
 *************/
 .closer {
	padding: 60px 10px;
	color: #ffffff;
	background: url('images/bg_closer.jpg') no-repeat center bottom;
	background-size: cover;
}

.closer img {
	margin: 20px;
}

.closer h2 {
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	font-size: 1.3em;
	font-weight: 200;
}

/*************
 * Utility
 *************/
.row, .row-large {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
ul.row {
	padding: 0;
}
.column-half, .column-third {
	margin: 0 1rem;
}
li.column-half {
	list-style-type: none;
}
.left-align {
	text-align: left;
}

/*************
 * Normal pages
 *************/
.primary {
	text-align: left;
	max-width: 600px;
	padding: 0.5rem 2rem 2rem;
	margin: 0 auto;
	font-size: 1rem;
}

/*************
 * Footer
 *************/
.footer {
	background-color: #252525;
	padding: 10px 30px;
	color: #cecece;
}

.footer p {
	font-size: 0.4em;
}

@media (min-width: 600px) {
	.img_container {
		margin: 0 50px;
	}

	.features {
		padding: 40px 20px;
	}
	.feature {
		max-width: 180px;
	}

	.row {
		display: flex;
		flex-wrap: nowrap;
		justify-content: normal;
		align-items: normal;
		max-width: 600px;
		margin: 0 auto;
	}
	.row .column-half {
		flex: 50%;
		max-width: 400px;
	}
	.row .column-third {
		flex: 33.3%;
		max-width: 33.3%;
	}
}
@media (min-width: 800px) {
	.row {
		max-width: 800px;
	}
}
@media (min-width: 1024px) {
	.row-large {
		display: flex;
		flex-wrap: nowrap;
		justify-content: normal;
		align-items: normal;
		max-width: 1024px;
		margin: 0 auto;
	}
	.screenshots .row .column-third {
		flex: 33.3%;
		max-width: 33.3%;
	}
}

/*!
	By André Rinas, www.andrerinas.de
	Documentation, www.simplelightbox.de
	Available for use under the MIT License
	Version 2.7.0
*/
body.hidden-scroll{overflow:hidden}.sl-overlay{position:fixed;left:0;right:0;top:0;bottom:0;background:#fff;opacity:.7;display:none;z-index:1035}.sl-wrapper{z-index:1040;width:100%;height:100%;left:0;top:0;position:fixed}.sl-wrapper *{box-sizing:border-box}.sl-wrapper button{border:0 none;background:transparent;font-size:28px;padding:0;cursor:pointer}.sl-wrapper button:hover{opacity:0.7}.sl-wrapper .sl-close{display:none;position:fixed;right:30px;top:30px;z-index:10060;margin-top:-14px;margin-right:-14px;height:44px;width:44px;line-height:44px;font-family:Arial,Baskerville,monospace;color:#000;font-size:3rem}.sl-wrapper .sl-counter{display:none;position:fixed;top:30px;left:30px;z-index:1060;color:#000;font-size:1rem}.sl-wrapper .sl-navigation{width:100%;display:none}.sl-wrapper .sl-navigation button{position:fixed;top:50%;margin-top:-22px;height:44px;width:22px;line-height:44px;text-align:center;display:block;z-index:10060;font-family:Arial,Baskerville,monospace;color:#000}.sl-wrapper .sl-navigation button.sl-next{right:5px;font-size:2rem}.sl-wrapper .sl-navigation button.sl-prev{left:5px;font-size:2rem}@media (min-width: 35.5em){.sl-wrapper .sl-navigation button{width:44px}.sl-wrapper .sl-navigation button.sl-next{right:10px;font-size:3rem}.sl-wrapper .sl-navigation button.sl-prev{left:10px;font-size:3rem}}@media (min-width: 50em){.sl-wrapper .sl-navigation button{width:44px}.sl-wrapper .sl-navigation button.sl-next{right:20px;font-size:3rem}.sl-wrapper .sl-navigation button.sl-prev{left:20px;font-size:3rem}}.sl-wrapper.sl-dir-rtl .sl-navigation{direction:ltr}.sl-wrapper .sl-image{position:fixed;-ms-touch-action:none;touch-action:none;z-index:10000}.sl-wrapper .sl-image img{margin:0;padding:0;display:block;border:0 none;width:100%;height:auto}@media (min-width: 35.5em){.sl-wrapper .sl-image img{border:0 none}}@media (min-width: 50em){.sl-wrapper .sl-image img{border:0 none}}.sl-wrapper .sl-image iframe{background:#000;border:0 none}@media (min-width: 35.5em){.sl-wrapper .sl-image iframe{border:0 none}}@media (min-width: 50em){.sl-wrapper .sl-image iframe{border:0 none}}.sl-wrapper .sl-image .sl-caption{display:none;padding:10px;color:#fff;background:rgba(0,0,0,0.8);font-size:1rem;position:absolute;bottom:0;left:0;right:0}.sl-wrapper .sl-image .sl-caption.pos-top{bottom:auto;top:0}.sl-wrapper .sl-image .sl-caption.pos-outside{bottom:auto}.sl-wrapper .sl-image .sl-download{display:none;position:absolute;bottom:5px;right:5px;color:#000;z-index:1060}.sl-spinner{display:none;border:5px solid #333;border-radius:40px;height:40px;left:50%;margin:-20px 0 0 -20px;opacity:0;position:fixed;top:50%;width:40px;z-index:1007;-webkit-animation:pulsate 1s ease-out infinite;-moz-animation:pulsate 1s ease-out infinite;-ms-animation:pulsate 1s ease-out infinite;-o-animation:pulsate 1s ease-out infinite;animation:pulsate 1s ease-out infinite}.sl-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}.sl-transition{transition:-moz-transform ease 200ms;transition:-ms-transform ease 200ms;transition:-o-transform ease 200ms;transition:-webkit-transform ease 200ms;transition:transform ease 200ms}@-webkit-keyframes pulsate{0%{transform:scale(0.1);opacity:0.0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@keyframes pulsate{0%{transform:scale(0.1);opacity:0.0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-moz-keyframes pulsate{0%{transform:scale(0.1);opacity:0.0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-o-keyframes pulsate{0%{transform:scale(0.1);opacity:0.0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-ms-keyframes pulsate{0%{transform:scale(0.1);opacity:0.0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}

/*
Project:	Toggle Switchy
Version:	1.14
Updated:	8/20/2020
Author:		Adam Culpepper | @adamculpepper
Website:	https://toggleswitchy.com
Docs:		https://github.com/adamculpepper/toggle-switchy
Issues:		https://github.com/adamculpepper/toggle-switchy/issues
Releases:	https://github.com/adamculpepper/toggle-switchy/releases
*/

/* Colors: Default (blue) */
.toggle-switchy { font-size: 1rem; }
.toggle-switchy .toggle {color:#fff;}
.toggle-switchy > input + .toggle:before {content:'ON';}
.toggle-switchy > input + .toggle:after {content:'OFF';}
.toggle-switchy > input + .toggle > .switch {background:#fff;}
.toggle-switchy > input + .toggle + .label {color:#000;}
.toggle-switchy > input:checked + .toggle {background:#3498db;}
.toggle-switchy > input:not(:checked) + .toggle {background:#ccc;}
.toggle-switchy > input:checked + .toggle > .switch {border:3px solid #3498db;}
.toggle-switchy > input:not(:checked) + .toggle > .switch {border:3px solid #ccc;}
.toggle-switchy > input:focus + .toggle,
.toggle-switchy > input:active + .toggle {box-shadow:0 0 5px 3px rgba(0, 119, 200, 0.50);}

/* Rounded switch corners */
.toggle-switchy > input + .toggle {border-radius:4px;}
.toggle-switchy > input + .toggle .switch {border-radius:6px;}

.toggle-switchy {display:inline-flex; align-items:center; user-select:none; position:relative; vertical-align:middle; margin-bottom:0;}
.toggle-switchy:hover {cursor:pointer;}
.toggle-switchy > input {position:absolute; opacity:0;}
.toggle-switchy > input + .toggle {align-items:center; position:relative;}
.toggle-switchy > input + .toggle {overflow:hidden; position:relative; flex-shrink:0;}
.toggle-switchy > input[disabled] + .toggle {opacity:0.5;}
.toggle-switchy > input[disabled] + .toggle:hover {cursor:not-allowed;}
.toggle-switchy > input + .toggle {width:100%; height:100%; margin:0; cursor:pointer;}
.toggle-switchy > input + .toggle > .switch {display:block; height:100%; position:absolute; right:0; z-index:3; box-sizing:border-box;}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {display:flex; align-items:center; position:absolute; z-index:2; height:100%;}
.toggle-switchy > input + .toggle:before {right:55%;}
.toggle-switchy > input + .toggle:after {left:50%;}
.toggle-switchy > input + .toggle + .label {margin-left:10px;}
.toggle-switchy[data-label='left'] > input + .toggle {order:2;}
.toggle-switchy[data-label='left'] > input + .toggle + .label {order:1; margin-left:0; margin-right:10px;}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {opacity:0;}
.toggle-switchy > input:checked + .toggle:before {opacity:1;}
.toggle-switchy > input:checked + .toggle:after {opacity:0;}

/* Transitions */
.toggle-switchy > input + .toggle {transition:background 200ms linear, box-shadow 200ms linear;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {transition:all 200ms linear;}
.toggle-switchy > input + .toggle > .switch {transition:right 200ms linear, border-color 200ms linear;}

/* Size: Large */
.toggle-switchy[data-size='lg'] > input + .toggle							{width:75px; height:35px;}
.toggle-switchy[data-size='lg'] > input + .toggle > .switch					{width:35px;}
.toggle-switchy[data-size='lg'] > input + .toggle:before,
.toggle-switchy[data-size='lg'] > input + .toggle:after						{font-size:1rem;}
.toggle-switchy[data-size='lg'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 35px);}

.toggle-switchy[data-style='rounded'] > input + .toggle,
.toggle-switchy[data-style='rounded'] > input + .toggle > .switch			{border-radius:50px;}
.toggle-switchy[data-style='rounded'] > input + .toggle:before				{right:50%;}
.toggle-switchy[data-style='rounded'] > input + .toggle:after				{left:50%;}

/* Text: Off */
.toggle-switchy[data-text='false'] > input + .toggle:before,
.toggle-switchy[data-text='false'] > input + .toggle:after					{content:'';}
.toggle-switchy[data-text='false'][data-size='lg'] > input + .toggle		{width:70px;}

.toggle-switchy > .dark-mode + .toggle { margin: 0 0.5rem; }

