html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fbfbfb; 
	font-family: 'Libre Franklin', 'Helvetica Neue', sans-serif;
	font-size: 18pt;
	text-align: center;
}

.content {
	margin: 0 auto;
}

/*************
 * Header
 *************/
.header-bg {
	background: url('images/la-jolla-web.jpg') no-repeat center bottom;
	background-size: cover;
}
.header {
	padding-top: 80px;
	padding-bottom: 80px;
	background: rgba(0, 0, 0, 0.3);
	background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 50%, rgba(0, 0, 0, 0.45) 85%, rgba(0, 0, 0, 0.2) 100%);
	color: #fff;
}

.header img {
	margin: 20px;
}

.header h1 {
	-webkit-margin-before: 0.3em;
	-webkit-margin-after: 0.3em;
	font-size: 1.3em;
	font-weight: 200;
}

.header p {
	-webkit-margin-before: 0.75em;
	-webkit-margin-after: 0.7em;
	font-size: 0.75em;
	font-weight: 100;
}

.header p.appstore {
	font-size: 0.65em;
	margin: 10px;
}

.header a { 
	color: white;
}

.header div.buttons a {
	display: inline-block;
	cursor: pointer;
	padding: 8px 32px;
	margin: 16px;
	font-size: 0.8em;
	text-decoration: none;
	color: #fff !important;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.22);
	border-radius: 4px;
	border: 1px solid;
}

.header div.buttons a.try {
	background: -webkit-linear-gradient(#3f8be2 0%, #3166b0 100%);
	background: -moz-linear-gradient(#3f8be2 0%, #3166b0 100%);
	background: -ms-linear-gradient(#3f8be2 0%, #3166b0 100%);
	background: -o-linear-gradient(#3f8be2 0%, #3166b0 100%);
	background: linear-gradient(#3f8be2 0%, #3166b0 100%);
	border-color: #2e68a6 #1b5fa7 #004fa2;
}

.header div.buttons a.buy {
	background: -webkit-linear-gradient(#74c937 0%, #67b131 100%);
	background: -moz-linear-gradient(#74c937 0%, #67b131 100%);
	background: -ms-linear-gradient(#74c937 0%, #67b131 100%);
	background: -o-linear-gradient(#74c937 0%, #67b131 100%);
	background: linear-gradient(#74c937 0%, #67b131 100%);
	border-color: #60a62e #519f18 #409701;
}

/*************
 * Intro
 *************/
.intro {
	color: #444;
}

.intro p {
	padding: 30px 20px 40px 20px;
	max-width: 600px;
	margin: 0 auto;
	font-size: 0.75em;
	font-weight: 300;
}

* > strong, strong {
	font-weight: 700;
}

.intro div.img_container {
	margin: 0;
}

.intro div.img_container img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*************
 * Features
 *************/
.features {
	background-color: #252525;
	color: #CECECE;
	font-size: 0.75em;
	padding: 10px 0;
}

.features .inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 660px;
	margin: 0 auto;
}

.feature {
	margin: 20px;
	width: 100%;
	max-width: 240px;
	font-weight: 300;
}
.feature p {
	margin: 0;
}

/*************
 * Closer
 *************/
 .closer {
	padding: 60px 10px;
	color: #ffffff;
	background: url('images/bg_closer.jpg') no-repeat center bottom;
	background-size: cover;
}

.closer img {
	margin: 20px;
}

.closer h1 {
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	font-size: 1.3em;
	font-weight: 200;
}

/*************
 * Footer
 *************/
.footer {
	background-color: #252525;
	padding: 10px 30px;
	color: #cecece;
}

.footer p {
	font-size: 0.4em;
}

@media (min-width: 600px) {
	.img_container {
		margin: 0 50px;
	}

	.features {
		padding: 40px 20px;
	}
	.feature {
		max-width: 180px;
	}

}
